.container {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 10px;

  .card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .card_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 350px;
      background: #F2F2F2;
      border-radius: 15px;
      
      .card_image {
        border-radius: 15px 15px 0 0;
      }

      .second_part {
        background: #eeee;
        padding: 0 20px;
        position: relative;
        
        .btn {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 180px;
          height: 45px;
          background: #713FFF;
          color: #F2F2F2;
          transform: translate(38%, -50%);
          text-align: center;
          border-radius: 15px;

          .btn_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }

        .info_container {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          .content_one, .content_two {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .info_content {
              display: flex;
              flex-direction: column;
              align-items: center;
              background-color: #FFFFFF;
              border-radius: 10px;
              padding: 5px 8px;
              font-size: 14px;
              
            }
          }

          .content_one {
            margin-bottom: 1rem;
          }

          .content_two {
            .info_content {
              width: 130px;
            }
          }
        }

        .description {
          margin-bottom: 1rem;
          h4 {
            margin: 1rem 0;
          }
          p {
            word-break: break-word;
          }
        }
      }
      .btn_confirmed {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        background: #FFFFFF;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
      }
    }
  }
}