.space_top {
  margin-top: 7rem;
}

.title {
  color: #713FFF;
  font-size: 20px;
  text-align: center;
}

.subtitle {
  color: #713FFF;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin: 1rem 0;
}