.space_top {
  margin-top: 6rem;
}

.title {
  color: red;
  font-size: 20px;
  text-align: center;
}

.subtitle {
  color: #713FFF;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
}