.contact {
  max-width: 1250px;
  margin: 0 auto 6rem;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form {
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 550px;
  
    label {
      display:flex;
      flex-direction: column;

      span {
        margin-bottom: 0.6rem;
        font-weight: 500;
      }

      textarea {
        border-radius: 0;
        border: 1px solid transparent;
        resize: none;
        background: #eeee;
        outline: none;
        padding: 0.7rem;
        transition: all 0.4s ease-in-out;

        &:hover {
        border: 1px solid #713FFF;
        }
      }
    }
  }
}
