* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background: #ffffff;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 4rem;
  text-align: center;
  color: #3c184e;
  margin: 1.25rem 0;
}